{% extends 'headerPage.html' %}

{% block content %}

    <h2>Upload Image for classification</h2>
    <br>
    <!-- this predictImage action will have to go in the url section, and from there, the views.functino will be created -->
    <form method="post" enctype="multipart/form-data" action="predictImage">
        {% csrf_token %}
        <div class="col-md-4 col-sm-4">
            <label for="fname">Upload ImageFile here</label>
        </div>
        <input name="filePath" type="file"><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if not predicted_class and not filepathnm%}
        <h2>Upload Image</h2>
    {% elif not predicted_class and filepathnm%}
        <h2>Classifying...</h2>
    {% endif %}

    {% if predicted_class %}
        <h2>Classification by model is: {{ predicted_class }}</h2>
    {% endif %}

    {% if filepathnm %}
        <img src="{{ filepathnm }}" alt="imagenm">
    {% else %}
        <h3>Upload Image</h3>
    {% endif %}
        
{% endblock %}
